header {
  border: 2px solid red;
  border-radius: 1rem;
  padding: 2rem;
  span {
    margin: 1rem;
    border: 2px solid rgb(65, 8, 209);
    padding: 1rem;
    border-radius: 20rem;
    cursor: pointer;
  }
}
